.interested-page {
    min-height: 72vh;
    height:100%;
}

.interested-body {
    width: 70%;
    height: 100%;
    margin: 20px auto 20px auto;
    padding: 50px;
    background-color: #D5CABD50;
    border-radius: 10px;
}