.travel-card {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: filter 0.3s ease, transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* 캐러셀 내의 TravelCard에서만 그림자 제거 */
.carousel-container .travel-card {
    box-shadow: none;
}

.travel-card.selected {
    filter: brightness(70%);
    transform: scale(0.98);
}

.travel-card-image {
    width: 100%;
    height: 70%;
    object-fit: cover;
    display: block;
    margin: 0;
}

.travel-card-content {
    background-color: #e6e0d7;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
    flex-grow: 1;
}

.travel-card-tags {
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
}

.travel-card-tag {
    background-color: white;
    border-radius: 12px;
    padding: 4px 8px;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.travel-card-title {
    font-size: 22px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.travel-card-location {
    font-size: 16px;
    color: gray;
    margin-top: auto;
}

.interested-checkmark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
}