.planner-details-page {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.back-button, .edit-plan-button {
    display: flex;
    align-items: center;
    background-color: #845EC2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
}

.back-button:hover, .edit-plan-button:hover {
    background-color: #724BB7;
}

.back-icon, .edit-icon {
    height: 20px;
    margin-right: 10px;
}

.planner-details-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    gap: 20px;
}

.planner-details-list {
    background-color: #FFFFEC;
    border-radius: 10px;
    width: 45%;
    padding: 0;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-bottom: 10px;
    height: auto;
    min-height: 500px;
    position: relative;
}

.edit-plan-button {
    position: absolute;
    top: -50px;
    right: 0;
    margin-right: 10px;
}

.planner-details-header {
    background-color: #C493FF;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    border-radius: 10px 10px 0 0;
    box-sizing: border-box;
}

.planner-details-title {
    margin: 0;
    font-size: 24px;
}

.planner-details-period {
    margin: 0;
    font-size: 16px;
}

.planner-destinations-list {
    list-style-type: none;
    padding: 20px;
    margin: 0;
}

.planner-destination-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.hamburger-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.delete-button {
    background-color: #845EC2;
    color: #FFFFFF;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    box-shadow: none;
}

.delete-icon {
    width: 16px;
    height: 16px;
}

.destination-name {
    flex-grow: 1;
    margin: 0 10px;
    font-size: 20px;
}

.planner-details-map {
    background-color: #d3d3d3;
    border-radius: 10px;
    width: 45%;
    padding: 0;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #333;
}
